<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <!--指定发送邮件的服务器地址或IP，如smtp.163.com-->
    <add key="MailHost" value="smtp.office365.com"/>
    <!--指定发送邮件端口 此值必须为数字，否则程序会出错-->
    <add key="Port" value="587"/>
    <!--发件人邮箱地址-->
    <add key="MailAddress" value="sysgen@unichina-market.com"/>
    <!--发件人邮箱用户名-->
    <add key="MailDisplayName" value="Test定時程序"/>
    <!--发件人邮箱密码-->
    <add key="MailPassWord" value="Waz85275"/>
    <!--发件人是否要SSL加密-->
    <add key="SSL" value="true"/>
    <!--程序名称,表明当前是哪只定时程序-->
    <add key="ProgramName" value="Test定時程序BySiYang"/>
    <!--ACTION通知会加入以下邮件地址和程序配置地址一起发送-->
    <add key="SendTo" value="siyang.liu@risinguptech.com"/>
    <!--Info通知,是否加入SendTo配置地址一起发送 true:发送 false:不发送-->
    <add key="InfoMessage" value="true"/>
  </appSettings>
</configuration>
